
/*~ ==========================================================  */
/*^              Account Details              */
/*~ ==========================================================  */


.edit-details-wrapper {
    padding: 12px;
}

.edit-details-btn {
    padding: 8px;
}

.account-details-card {
    border: 2px solid var(--color-border-default);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

