{# templates/partials/button.html #}
{% comment %}
{# Usage examples:
  Normal Buttons:
  {% static "icons/buttons/Create.png" as btn_img %}
  {% include "partials/button.html" with 
    img_src=btn_img 
    label="Create" 
    href=create_url 
    btn_class="btn btn-icon btn-success btn-sm"
  %}

  Submit/Update Form Buttons:
  {% static "icons/buttons/CreateRecipeSubmit.png" as btn_img %}
  {% include "partials/button.html" with
    type="submit"
    label="Create Recipe"
    img_src=btn_img 
    btn_class="btn icon-only-btn btn-success btn-sm"
  %}
#} 
{% endcomment %}

{% with label_text=label|default:"Button" show_label=show_lbl|default:False show_border=show_btn_border|default:False button_border=btn_border|default:"" button_class=btn_class|default:"btn p-0 border-0 bg-transparent" button_type=type|default:"button" image_class=img_class|default:"btn-image" action_btn=action_btn|default:False data_bs_toggle=data_toggle|default:False data_bs_target=data_target|default:False data_bs_url=data_url|default:False data_bs_title=data_title|default:False %}
    {% if href %}
    <a
      href="{{ href }}"
      class="{{ button_class }}{% if disabled %} disabled{% endif %}{% if show_border %} {{ button_border }}{% endif %}{% if action_btn %} action-btn{% endif %}"
      {% if disabled %}aria-disabled="true" tabindex="-1"{% endif %}
      {% if attrs %}{{ attrs|safe }}{% endif %}
      title="{{ label_text }}"
      {% if data_bs_toggle %}data-bs-toggle="{{ data_bs_toggle }}"{% endif %}
      {% if data_bs_target %}data-bs-target="{{ data_bs_target }}"{% endif %}
      {% if data_bs_url %}data-delete-url="{{ data_bs_url }}"{% endif %}
      {% if data_bs_title %}data-recipe-title="{{ data_bs_title }}"{% endif %}
    >
      {% if img_src %}
        <img
          src="{{ img_src }}"
          alt="{{ img_alt|default:label_text }}"
          class="{{ image_class }}"
          {% if img_id %}id="{{ img_id }}"{% endif %}
        />
        {% if show_label %}
          <span class="btn-label">{{ label_text }}</span>
        {% endif %}
      {% else %}
        {% if show_label %}
          <span class="btn-label">{{ label_text }}</span>
        {% endif %}
      {% endif %}

      <span class="visually-hidden">{{ label_text }}</span>
    </a>

  {% else %}
    <button
      type="{{ button_type }}"
      class="{{ button_class }}{% if show_border %} {{ button_border }}{% endif %} action-btn"
      {% if disabled %}disabled aria-disabled="true"{% endif %}
      {% if attrs %}{{ attrs|safe }}{% endif %}
      title="{{ label_text }}"
      {% if data_bs_toggle %}data-bs-toggle="{{ data_bs_toggle }}"{% endif %}
      {% if data_bs_target %}data-bs-target="{{ data_bs_target }}"{% endif %}
      {% if data_bs_url %}data-delete-url="{{ data_bs_url }}"{% endif %}
      {% if data_bs_title %}data-recipe-title="{{ data_bs_title }}"{% endif %}
    >
      {% if img_src %}
        <img
          src="{{ img_src }}"
          alt="{{ img_alt|default:label_text }}"
          class="{{ image_class }}"
          {% if img_id %}id="{{ img_id }}"{% endif %}
        />
        {% if show_label %}
          <span class="btn-label">{{ label_text }}</span>
        {% endif %}
      {% else %}
        {% if show_label %}
          {{ label_text }}
        {% endif %}
      {% endif %}

      <span class="visually-hidden">{{ label_text }}</span>
    </button>
  {% endif %}

{% endwith %}


