{% extends "base.html" %}
{% load static %}
{% block title %}Account · RecipeBook{% endblock %}
{% block content %}
<div class="container mt-4">
    <!-- Example form -->
    <form action="{% url 'accounts:account' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="d-flex flex-grow-1 justify-content-around gap-3">
    {% url "recipes:my_recipes" as update_url %}
    {% static "icons/buttons/MyRecipes.png" as my_recipes_btn_img %}
    {% include "partials/button.html" with href=update_url label="My Recipes" show_btn_border=True btn_border="btn_border btn_border_clickable" show_lbl=True img_src=my_recipes_btn_img img_alt="My Recipes" img_class="recipe-btn-img" btn_class="btn bg-transparent recipe-btn-image-wrap" %}

    <form
    action="{% url 'accounts:change_password' %}"
    method="post"
    class="m-0 p-0 d-inline-flex align-items-center"
    >
    {% csrf_token %}
    {% static "icons/buttons/ChangePassword.png" as change_password_btn_img %}
    {% include "partials/button.html" with type="submit" label="Change Password" show_btn_border=True btn_border="btn_border btn_border_clickable" show_lbl=True img_src=change_password_btn_img img_class="recipe-btn-img" btn_class="btn bg-transparent recipe-btn-image-wrap" %}
    </form>

</div>
{% endblock %}