{% extends "base.html" %}
{% load static %}
{% block title %}Home ● {{ APP_NAME }}{% endblock %}

{% block content%}
<div class="container content-container">
    <div class="container mt-4">
        {% comment %} include hero {% endcomment %}
        {% url "recipes:view_recipe" hero_recipe.pk as hero_recipe_url %}
        {% include "partials/hero.html" with recipe=hero_recipe cta_label="Make this recipe now!" cta_url=hero_recipe_url hero_url=hero_recipe_url hero_aria_label="View this recipe" %}

        {% comment %} include  top 3-6 recipes in card format {% endcomment %}
        <div class="row g-3">
            {% for recipe in recipes %}
                <div class="col-12 col-md-6 col-lg-4">
                {% include "partials/recipe_card.html" with recipe=recipe %}
                </div>
            {% endfor %}
            </div>
    </div>
</div>
{% endblock %}