
DB_NAME='the name of the database'
DB_USER='the database username used by server'
DB_PASS='password for server database username'
DEBUG=False
SECRET_KEY='Change me'
DB_HOST='localhost'
DB_PORT='DB port, or 5432'
DB_SUPERUSER='database superuser name'
DB_SUPERPASS='database superuser password'
DJANGO_SUPERUSER='Django Admin Username'
DJANGO_SUPEREMAIL='Django Admin Email'
DJANGO_SUPERPASS='Django Admin Password'
ADMIN_LOGIN="RecipeBook Admin Login"
ADMIN_PASSWORD="RecipeBook Admin Password"
CERT_DIRECTORY="Directory containing .pem's"