{% extends "base.html" %}
{% load static %}

{% block title %}500 ● {{ APP_NAME }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

        {% url 'accounts:home_page' as home_url %}
        {% url 'recipes:search' as search_url %}

        {% include "partials/error.html" with status_code="500" title="Internal Server Error" message="The server encountered an unexpected condition that prevented it from fulfilling the request." primary_href=home_url primary_label="Go Home" secondary_href=search_url secondary_label="Search Recipes" %}

        </div>
    </div>
</div>
{% endblock %}